/*===============================================
Charity donation component
===============================================*/
.max-510 {
	max-width:510px;
	padding:0;
}
.charity-donation {
	background:$grey-light;
	border:1px solid $coop-border-grey;
	
	.progressbar {
		border:1px solid $green-mid;
		margin-bottom:$grid-gutter;
	}
	.bar {
		background:#9fad37;
		height:$grid-gutter;
		width:0;
		margin:-1px;
		transition: all 0.3s linear;
	}
	.amount {
		position:relative;
		input {
			padding-left:$grid-gutter;
		}
	}
	.currency {
		left:20px;
		 font-size: em-calc(20);
		@include centerer(false, true);
		@include media(small) {
			//left:$grid-gutter;
		}
	}
	.btn-container {		
		@include media(medium) {
			padding-left:0;
		}
	}
	.btn-donate {
		padding:11px $grid-gutter/2;
		width:100%;
		@include media(medium) {
			padding:$grid-gutter/4 $grid-gutter/2;
		}	
	}
	.cta {	
		&:before {
			content:'';
			display:block;
			border-top:1px solid $coop-border-grey;			
			padding:$sixth-spacing-unit 0 0 0;	
			margin:0 -$grid-gutter/2;
				margin-top:0;
				margin-bottom:0;
			@include media(medium) {
				padding:20px 0 0 0;	
				margin:0 -$grid-gutter;
				margin-top:0;
				margin-bottom:0;
			}
		}
		a {
			color:$text;
			border-bottom: 0.075em solid $text;
			&:hover {
				color:$link;
				border-color:$link;
			}
		}
	}
}